<h1 class="subheader">
  Articulos
</h1>
<div class="loading" *ngIf="!articles">
  Cargando...
</div>
<div id="articles">
  <div class="loading" *ngIf="articles && articles.length == 0">
    No hay resultados
  </div>
  <article class="article-item" *ngFor="let article of articles">
    <div class="image-wrap">
      <img src="{{url+'/getimage/'+article.image}}" alt="{{article.image}}" *ngIf="article.image">
      <img src="assets/images/ima_park.jpeg" alt="{{article.image}}" *ngIf="!article.image">
    </div>
    <h2>{{article.title}}</h2>

    <span>{{article.date | amLocale: 'es' | amTimeAgo}}</span>
    <a [routerLink]="['/blog/articulo', article._id]">Leer mas</a>
    <br>
  </article>
</div>
